***
### Compétence : Maîtriser les diff casses d'un code (camel, pascal,...)
- Objectif métier : avoir le même jargon des développeurs,... (lors d'un entretien, travail en équipe sur un projet,...).   
- Objectif technique : Ecrire du code en respectant les conventions de nommage. 
- Application data :         
Help : https://wprock.fr/blog/conventions-nommage-programmation/
***


SublmimeText3 : vs pouvez par ex installer le pkg CaseConversion et consulter ses scripts|      
:-------------------------:|:-------------------------:
![alt-text-1](https://i.stack.imgur.com/gtDCS.png)|![alt-text-2](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1_XQnExWbHfWfUwbZL6Ve5QgnNrjqcb3wUz1D6rErPj6XA2WM)  
***

**Q : Lire le fichier Dummies.csv ?**

In [21]:
df = read_table('Dummies.csv', sep = ',')

- Lecture normale effectuée !
- Les dimensions du dataframe sont : 891 lignes x 12 colonnes
- Les types des cols sont :
 int64      5
object     5
float64    2
dtype: int64

In [29]:
df

     PassengerId  Survived  Pclass       Name     Sex    ...     Parch     Ticket    Fare Cabin  Embarked
0            1           0       3  Braund...    male    ...         0  A/5 21171   7.250   NaN         S
1            2           1       1  Cuming...  female    ...         0   PC 17599  71.283   C85         C
2            3           1       3  Heikki...  female    ...         0  STON/O...   7.925   NaN         S
..         ...         ...     ...        ...     ...    ...       ...        ...     ...   ...       ...
888        889           0       3  Johnst...  female    ...         2  W./C. ...  23.450   NaN         S
889        890           1       1  Behr, ...    male    ...         0     111369  30.000  C148         C
890        891           0       3  Dooley...    male    ...         0     370376   7.750   NaN         Q

[891 rows x 12 columns]

**Q : Tester si chaque élément de la liste suivante comporte des maj et en miniscule (à la fois) ?**

In [ ]:
list_case = [
        "camel",
        "camelCase",
        "CamelCase",
        "CAMELCASE",
        "camelcase",
        "Camelcase",
        "Case"
        ]

**Q : Quelle est le format d'écriture des noms des vars (PassengerId, Pclass, SibSp) ?** Indice : lower case, camel case, pascal case,... ?

***
Ns allons appliquer ces notions de case aux noms des cols du df. L'idée est de détecter automtq la casse des noms des cols. En fait, ns allons vu jusqu'à maintenant qu'il vaut mieux mettre tt en miniscule et de remplacer les espaces par '_'.   
Par exemple : 'Passenger Id' => 'passenger_id'  
Or 'Passenger Id' s'écrit maintenant 'PassengerId'. Du coup, si on applique notre méthode (sans faire attention) 'PassengerId' devient 'passengerid' (ce que ns souhaitons éviter parcq le nom du col devient illisible).  
**Q : Créer 1fonc qui permet de transformer les noms des cols en snake_case. 
***

**Q : Créer également 1fonc qui permet de renommer les cols de tel sorte PassengerId devient z0_passenger_id, z1_survived,..., z11_embarked ?**  
Remarquer maintenant que l'autocomplétion des noms des vars devient plus pratique !  
**Q : Créer la fonction qui permet de revenir aux noms initiaux ? **

In [47]:
df.rename(columns={'c_1_PassengerId' : 'z1_PassengerId', 'Survived' : 'z2_Survived'}, inplace=True)

In [48]:
df.columns

Index(['z1_PassengerId', 'z2_Survived', 'Pclass', 'Name', 'Sex', 'Age',
       'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [50]:
df.select_dtypes(exclude = ['object']).min() >= 0

z1_PassengerId    True
z2_Survived       True
Pclass            True
Age               True
SibSp             True
Parch             True
Fare              True
dtype: bool

***
**Obj final : Créer 1fonc générique qui permet d'optimiser la taille mémoire consommée par le df (en allouant aux cols les meilleurs types possibles : int8, uint8, categorical,...) ? Vs pouvez stocker cette fonc ds le script startup.py (et l'utiliser au besoin).**
- Appliquer votre fonc au df (créer une copie "df1", n'écraser pas le df initial) ? Rajouter "1" aux noms des cols df1, exemple 'z0_PassengerId' => 'z0_PassengerId1' (afin de ne pas se perdre entre les cols de chaque df).
***

Ds ce que suit, ns allons travaillons sur les 2 df.  
- **La col 'z4_Sex1' de type maintenant categorical comporte deux modalités (female = 0, male = 1) ; à vérifier ?**  
- **La col 'z11_Embarqued1' de type maintenant categorical comporte trois modalités (C = 0, Q = 1 et S = 2) ; à vérifier ?**
- **Q : Ns ns concentrons sur les cols 'z11_embarqued' et 'z11_embarqued1'. L'idée est de construire 3 variables à partir de cette col : 'embarked_c', 'embarked_q' et 'embarked_s'.**  Evidemment, adapter les noms de ces nouvelles cols (à notre convention). 
embarked_c = 1 si embarqued == 'C', 0 sinon  
embarked_q = 1 si embarqued == 'Q', 0 sinon  
embarked_s = 1 si embarqued == 'S', 0 sinon  
L'ensemble de ces vars sont ce qu'on appelle des dummies (ou var muette, dichotomique) !  
**Q : Utiliser successivement les méthodes suivantes : 'if', 'map', get_dummies (sur les 2df) **
**Q : Peut-t-on convertir systématiquement les cols de type objects en type Categorical ?**