**Q : Read the dataset "Manip str ds Pandas" into a DataFrame**

In [1]:
df = pd.read_table('Manip str ds Pandas.txt')
df

      order_id  quantity  item_name choice_description item_price
0            1         1  Chips ...        NaN             $2.39
1            1         1       Izze  [Cleme...             $3.39
2            1         1  Nantuc...    [Apple]             $3.39
...        ...       ...        ...        ...                ...
4619      1834         1  Chicke...  [Fresh...            $11.25
4620      1834         1  Chicke...  [Fresh...             $8.75
4621      1834         1  Chicke...  [Fresh...             $8.75

[4622 rows x 5 columns]

**Q : Constatez que la col 'choice_description' contient des [ ] que vs devez supp ?**

In [15]:
#'hello'.upper()
#df.item_name.str.upper().head()
#df['choice_description'] = df.choice_description.str.replace('[', '').str.replace(']', '')
df.choice_description.str.strip('[').str. strip(']') #il reste encore des crochets à l'intérieur
#'[' in df.choice_description.str.strip('[]')
']' in df.choice_description.str.strip('[')
# many pandas string methods support regular expressions (regex)
#df.choice_description.str.replace('[\[\]]', '')
#df

False

## Le piège de la méthode strip() ! 
### Qu'est-ce qu'un whitespace ds Python ? 
    Si vs avez utilisé la méthode strip() pr supp les [ ], cette dernière supp la chaîne de caractère non désirée aux extrémités (lstrip() et rstrip() resp left et right).

In [ ]:
"# ##  # test ".strip('# ') # comportement attendu mais faux
'##  # test '

In [ ]:
"# ##  # test ".strip('# ') # comportement réel
'test'

In [20]:
a = '\t \r \n plop  plup \n \r \t'
a.strip()

'plop  plup'

In [21]:
'\t\n\x0b\x0c\r '.strip()

''

In [22]:
import string
string.whitespace

' \t\n\r\x0b\x0c'

**Q : Filtrez le df en se limitant là où la col 'item_name' (resp. 'choice_description') contienne 'chicken' ? N'écrasez pas le df (pas d'affectation, inplace = False) !**

In [67]:
df.item_name.str.contains('chicken', case=False)
df[df.item_name.str.contains('Chicken')].shape
df

      order_id  quantity  item_name choice_description item_price
0            1         1  Chips ...        NaN             $2.39
1            1         1       Izze  Clemen...             $3.39
2            1         1  Nantuc...      Apple             $3.39
...        ...       ...        ...        ...                ...
4619      1834         1  Chicke...  Fresh ...            $11.25
4620      1834         1  Chicke...  Fresh ...             $8.75
4621      1834         1  Chicke...  Fresh ...             $8.75

[4622 rows x 5 columns]

In [ ]:
df.choice_description.str.contains('chicken', case=False)
#df[df.choice_description.str.contains('chicken', case=False)]#Pb de NaN pr filtrer le df 
df[df.choice_description.str.contains("chicken", na=false, case=False)].shape#Quelle sont les bons arguments de na
df

In [55]:
#Autre méthode (en convertissant vers le type 'str') mais qui ne marche pas
df['choice_description'] = df.choice_description.astype(str)
df.dtypes#La conversion ne s'est pas a priori opérée ?!

0       False
1       False
2       False
        ...
4619    False
4620    False
4621    False
Name: choice_description, Length: 4622, dtype: bool

**Q : Constatez que la col 'item_price' est de type object que vs devez convertir en numérique ?**

In [72]:
#round(df.item_price.str.replace('$', '').astype(float).mean(), 2) 
df.item_price..str.replace('$', '').convert_objects(convert_numeric=True)
#df_str.item_price.apply(pd.to_numeric, errors='coerce')
#pd.to_numeric(df['item_price'])

7.46

**Q : Read the dataset of "Manip1 str ds Pandas" into a DataFrame**

In [73]:
df = pd.read_table("Manip1 str ds Pandas.csv", sep = ',')
df

     star_rating      title content_rating   genre  duration actors_list
0          9.3    The Sh...          R       Crime       142  [u'Tim...
1          9.2    The Go...          R       Crime       175  [u'Mar...
2          9.1    The Go...          R       Crime       200  [u'Al ...
..         ...          ...        ...         ...       ...        ...
976        7.4    Master...      PG-13      Action       138  [u'Rus...
977        7.4    Polter...         PG      Horror       114  [u'JoB...
978        7.4    Wall S...          R       Crime       126  [u'Cha...

[979 rows x 6 columns]

**Q : Dois-t-on supp les [ ] de la col 'actors_list' ?**

**Q : Faire 1tri plat sur la col 'genre' qui donne l'effectif et le % (tout ds 1tableau synthétique) ?**  
Voir un exemple d'un tableau de tri à plat :
![alt text](http://www.modalisa.com/images/support/lexique/tri-a-plat.jpg)  
![alt text](http://www.jybaudot.fr/Stats/Graphes/camembert.png)
**Q optionnelle : Changer l'ordre colonnes du tableau (col1 : 'effectif', col2 : 'freq' ; col1 : 'freq', col2 : 'effectif)**  
** Q : Tracer l'histogramme correspondant**

**Q : Faire 1tri plat sur la col 'genre' qui donne l'effectif et le % (tout ds 1tableau synthétique) ?**  
Voir un exemple d'un tableau de tri à plat :
![alt text](http://www.modalisa.com/images/support/lexique/tri-a-plat.jpg)  
![alt text](http://www.jybaudot.fr/Stats/Graphes/camembert.png)
**Q optionnelle : Changer l'ordre colonnes du tableau (col1 : 'effectif', col2 : 'freq' ; col1 : 'freq', col2 : 'effectif)**  
** Q : Tracer l'histogramme correspondant**

In [92]:
n = df.genre.value_counts()
freq = round(df.genre.value_counts(normalize=True), 2)
#print(type(n), type(freq), n.index) 
#df.duration.describe() 
#df.describe(include = 'all')
#tri_plat = pd.DataFrame()
#tri_plat['effectif']= n
#tri_plat['freq']= freq .mul(100).round(1).astype(str) + '%'
#print(tri_plat)
#tri_plat.dtypes

Drama      278
Comedy     156
Action     136
          ...
Family       2
Fantasy      1
History      1
Name: genre, Length: 16, dtype: int64

In [ ]:
# Autre façon mais tu ne peux pas changer l'ordre des col (il faut rajouter des manip) 
df2 = pd.DataFrame({'Fréquence': freq, 'Effectif' : effectif})
df2.index
type(df2.index)

# Encore 1autre façon mais tu as le même noms des col (il faut rajouter des manip) 
#tri_plat_incomplet = pd.concat([n, freq], axis=1)

**Q : display the unique values in the Series 'genre' and it count**

In [130]:
df.genre.unique()
type(df.genre.unique())
df.genre.nunique()

16

**Q : Faire 1tri croisé sur le genre des movies et le content_rating ?**  
exemple :
![alt text](http://www.modalisa.com/images/support/lexique/tris-croises.jpg) 
![alt text](http://www.jybaudot.fr/Stats/Graphes/camembert.png)
** Q : Tracer un graphique qui résume le tri croisé ?**

In [141]:
pd.crosstab(df.content_rating, df.genre, margins = True)

genre       Action  Adventure  Animation  Biography  Comedy ...   Mystery  Sci-Fi  Thriller  Western  All
content...                                                  ...
APPROVED         3          3          3          1       9 ...         4       1         1        1   47
G                1          2         20          2       2 ...         1       0         0        0   32
GP               1          0          0          1       1 ...         0       0         0        0    3
...            ...        ...        ...        ...     ... ...       ...     ...       ...      ...  ...
UNRATED          3          2          1          0       4 ...         1       0         0        0   38
X                0          0          0          0       1 ...         0       0         0        0    4
All            135         74         62         76     156 ...        16       5         5        9  976

[13 rows x 17 columns]

In [148]:
tri_croise = pd.crosstab(df['title'], df['star_rating'])
tri_croise
#print(type(tri_croise))
#pd.crosstab(df.sort_values(by=['star_rating']).title, df.star_rating)
#.sorted(df.star_rating = ascending)
#df.star_rating.dtyes
#df.star_rating
#df.star_rating.describe()

star_rating  7.4  7.5  7.6  7.7  7.8 ...   8.9  9.0  9.1  9.2  9.3
title                                ...
(500) D...     0    0    0    0    1 ...     0    0    0    0    0
12 Angr...     0    0    0    0    0 ...     1    0    0    0    0
12 Year...     0    0    0    0    0 ...     0    0    0    0    0
...          ...  ...  ...  ...  ... ...   ...  ...  ...  ...  ...
Zombieland     0    0    0    1    0 ...     0    0    0    0    0
Zulu           0    0    0    0    1 ...     0    0    0    0    0
[Rec]          0    1    0    0    0 ...     0    0    0    0    0

[975 rows x 20 columns]

**Q : Filter the DataFrame of long movies (duration >= 200) to only show movies which also have a 'genre' of 'Drama'**

In [161]:
#Trier les movies dont la durée est sup ou égale à 200
#1è façon de faire
#booleans = []
#for length in df.duration:
#    if length >= 200:
#        booleans.append(True)
#    else:
#        booleans.append(False)

#booleans        
#len(booleans)        
#booleans[0:5]
#is_long = pd.Series(booleans)
#df[is_long]


#2è façon de faire
#is_long = df.duration >= 200
#df[is_long]

#df[df.duration >= 200]

#Select the 'genre' Series from the filtered DataFrame
#df1 = df[df.duration >= 200].genre
#df1

# or equivalently, use the 'loc' method
#df.loc[df.duration >= 200, 'genre']

df.loc[(df.duration >= 200) & (df.genre == 'Drama'), '']

#df[(df.duration >=200) & (df.genre == 'Drama')]

# use the '|' operator to specify that a row can match any of the three criteria
#movies[(movies.genre == 'Crime') | (movies.genre == 'Drama') | (movies.genre == 'Action')].head(10)

# or equivalently, use the 'isin' method
#movies[movies.genre.isin(['Crime', 'Drama', 'Action'])].head(10)

     star_rating      title content_rating  genre  duration actors_list
17         8.7    Seven ...    UNRATED      Drama       207  [u'Tos...
157        8.2    Gone w...          G      Drama       238  [u'Cla...
476        7.8       Hamlet      PG-13      Drama       242  [u'Ken...

**Q : Trier la série 'title' ds 1ordre croissant (et inversement) et noter le type du résultat (list, tuple,...) ?**

In [ ]:
df1.title.sort_values()
df1.title.sort_values(ascending = False)
type(df1.title.sort_values(ascending = False))#returns a Series

**Q : Trier le df1 suivant la col 'title' ds 1ordre croissant (et inversement) et noter le type du résultat (list, tuple,...) ?**

In [ ]:
df1.sort_values('title')
type(df1.sort_values('title'))#returns a DataFrame

**Q : Trier le df1 suivant les col 'title' et 'duration' ds 1ordre croissant (et inversement) et noter le type du résultat (list, tuple,...) ?**

In [ ]:
df.sort_values(['content_rating', 'duration'])