<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Projet-:-Travailler-sur-le-format-date--?" data-toc-modified-id="Projet-:-Travailler-sur-le-format-date--?-1" data-vivaldi-spatnav-clickable="1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Projet : Travailler sur le format date  ?</a></span></li><li><span><a href="#Correction" data-toc-modified-id="Correction-2" data-vivaldi-spatnav-clickable="1"><span class="toc-item-num">2&nbsp;&nbsp;</span>Correction</a></span><ul class="toc-item"><li><span><a href="#Chargement-du-df" data-toc-modified-id="Chargement-du-df-2.1" data-vivaldi-spatnav-clickable="1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Chargement du df</a></span></li><li><span><a href="#Renommer-les-cols-du-camelCase-au-snake_cas" data-toc-modified-id="Renommer-les-cols-du-camelCase-au-snake_cas-2.2" data-vivaldi-spatnav-clickable="1"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Renommer les cols du camelCase au snake_cas</a></span></li><li><span><a href="#Q-:-Quelles-sont-les-types-de-colonnes-?" data-toc-modified-id="Q-:-Quelles-sont-les-types-de-colonnes-?-2.3" data-vivaldi-spatnav-clickable="1"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Q : Quelles sont les types de colonnes ?</a></span></li><li><span><a href="#Convertir-en-type-datetime-?" data-toc-modified-id="Convertir-en-type-datetime-?-2.4" data-vivaldi-spatnav-clickable="1"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Convertir en type datetime ?</a></span></li></ul></li><li><span><a href="#Optionel-mais-recommandé" data-toc-modified-id="Optionel-mais-recommandé-3" data-vivaldi-spatnav-clickable="1"><span class="toc-item-num">3&nbsp;&nbsp;</span>Optionel mais recommandé</a></span><ul class="toc-item"><li><span><a href="#Q-:-Extraire-l'heure,-les-minutes,-l'année,-le-mois,-le-jour" data-toc-modified-id="Q-:-Extraire-l'heure,-les-minutes,-l'année,-le-mois,-le-jour-3.1" data-vivaldi-spatnav-clickable="1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Q : Extraire l'heure, les minutes, l'année, le mois, le jour</a></span></li><li><span><a href="#Comparer-la-col-construite-manuellement-et-la-col-en-datetime" data-toc-modified-id="Comparer-la-col-construite-manuellement-et-la-col-en-datetime-3.2" data-vivaldi-spatnav-clickable="1"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Comparer la col construite manuellement et la col en datetime</a></span></li><li><span><a href="#Date-la-plus-récente" data-toc-modified-id="Date-la-plus-récente-3.3" data-vivaldi-spatnav-clickable="1"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Date la plus récente</a></span></li><li><span><a href="#Delta-time" data-toc-modified-id="Delta-time-3.4" data-vivaldi-spatnav-clickable="1"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Delta time</a></span></li></ul></li></ul></div>

# Projet : Travailler sur le format date  ?

help : https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html

**Le chef de projet vous passe un fichier `Manip Datetime.csv` à uploader depuis le drive en tant qu'objet DataFrame (nom = `df`) et réponder aux questions suivantes ?**  
- **Q : Quelle est la date la plus récente ?**
- **Q : Extraire les observations supérieures ou égales à 1/1/1999 ?**
- **Q : Calculer la durée couverte par les observations ?**  

**Instructions à suivre**
  
- **Q : Formatter les noms des vars en miniscule et remplacer les espaces par `_` => `snake_case` ?**
- **Q : Quelles sont les types des colonnes ?**

**Remarquez que la colonne `Time` dont le nom est maintenant `time` est de type `object`. Ds cette dernière est stockée des dates (par ex, 1è obs : `6/1/1930 22:00`) ce qui correspond au format (`m/j/yyyy hh:mm`). Dans la suite, nous nous concentrons sur cette col :**
- **Q : Extraire (Indice : `slice`) :**
    - **Le mois, `6/1/1930 22:00` => `1` : 
    . Mais faites attention pour gérer les mois `10`, `11` et `12`.**
    - **Le jour, attention, ce n'est pas la même manip entre la 1è obs `6/1/1930 22:00` => `1` et la 2è obs : `6/30/1930 20:00` => `30`**  
    - **L'heure, par ex : `6/1/1930 22:00` => `22`**
    - **Les minutes, `6/1/1930 22:00` => `00`.**
    - **L'année.** 
    
**N.B : Stocker chaque information extraite dans une nouvelle col ; donc 5 cols en tout : `year`, `month`, `day`, `hour`, `min`.**

**Q : Créer une nouvelle col `time_by_hand` où vs concaténez les 5 dernières cols fraîchement crées.**    

**Si vous êtes bons sur le slicing et la création des nouvelles cols, les deux cols `time` et `time_by_hand` doivent être identiques doivent être identiques ! Comparer les ? Alors êtes-vous bons dans votre démarche ?**  

    
- Q : Extraire l'heure de la col `time` ?

- Remarquez que la colonne "Time" dont le nom est maintenant "time" est de type "object". Ds cette dernière est stocké des dates (par ex, 1è obs : 6/1/1930 22:00) ce qui correspond au format (m/j/yyyy hh:mm).  

**Q : Créer une nouvelle col `time_by_pd` de type `datetime` (à partir de la var `time`) ?
N'écraser pas la var initiale. La var `time_by_pd` doit être incluse ds le df.   
Indice : pd.to_datetime**

# Correction

## Chargement du df

**Q : En utilisant la fonc générique que ns avons mis au point pr lire les df, chargez le fichier "Manip Datetime.csv" depuis le drive en tant qu'objet DataFrame (nom = df) ?**

In [2]:
import pandas as pd

In [5]:
df = pd.read_table("Manip Datetime.csv", sep = ',')
df.head()

        City Colors Reported Shape Reported State       Time
0     Ithaca        NaN        TRIANGLE        NY  6/1/19...
1  Willin...        NaN           OTHER        NJ  6/30/1...
2    Holyoke        NaN            OVAL        CO  2/15/1...
3    Abilene        NaN            DISK        KS  6/1/19...
4  New Yo...        NaN           LIGHT        NY  4/18/1...

## Renommer les cols du camelCase au snake_cas

**Q : Comme convenu, formatter les noms des vars (tt en miniscule, pas d'espace,...) ?**

In [ ]:
df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_') #la méthode la + efficace

def rename(col) : 
    return col.strip().lower().replace(' ','_')

df.columns  =  [rename(col) for col in df.columns]

## Q : Quelles sont les types de colonnes ?

In [ ]:
df_date.dtypes

## Convertir en type datetime ?

Remarquez que la colonne "Time" dont le nom est maintenant "time" est de type "object". Ds cette dernière est stocké des dates (par ex, 1è obs : 6/1/1930 22:00) ce qui correspond au format (m/j/yyyy hh:mm).  
**Q : Créer 1nouvelle var "time1" de type datetime (à partir de la var "time") ?** N'écraser pas la var initiale. La var "time1" doit être incluse ds le df.   
Indice : pd.to_datetime

In [ ]:
df.time1 = pd.to_datetime(df.time) #ça ne marche pas 
df_date['time1'] = pd.to_datetime(df_date.time)
print(df, '\n' df.dtypes)

Le type "datetime" offre des possibilités étendues ! On peut par ex savoir que le "6/1/1930 22:00" correspond à un dimanche. Chose qui est compliquée à faire à partir du format initial (au prix de manip et calcul complexe).  
**Q : Construisez cette nouvelle var (day_name)** ; incluse ds le df. Notez son type ?  
Indice : df_date.dt...

In [ ]:
df['day_name'] = df.time1.dt.weekday_name#1è façon
df['day_name'] = df['time1'].dt.strftime('%A')#2è façon
df.day_name.dtypes

**Q : Construisez une nouvelle autre var qui indique le rang du jour par rapport à l'année (day_year) ?**  
Par ex, "6/1/1930 22:00" est le 152è jour de l'année 1930.
Notez le type de la var générée. Optimiser le !

In [ ]:
df['day_year'] = df.time1.dt.dayofyear
df.day_year.dtypes#int64
df_date.day_year#(à convertir)

**Q : On peut même extraire l'heure et la stocker ds 1nouvelle autre var "hour"**  
Notez le type de la var générée. Optimiser le !

In [ ]:
df['hour'] = df.time1.dt.hour

**Successivement, extraire l'année "year", le mois "month", les minutes "minutes" ? **

**Supposons que vs n'avez ni la var initiale "Time" ni la var "time1", plutôt les vars fraîchement créees "year", "month",... **  
A partir de ces dernières vars, créer la var "time_gen"

**Q : Comment fonctionne tout cela ?**  Pr répondre à cette Q, répondez à la Q suivantes :  
- Qu'est-ce que le timestamp ?  
- Q : Convertir '1/1/1999' en timestamp (abrégé en ts) ?**

In [31]:
import datetime
ts = time.mktime(time.strptime('1/1/1999', "%d/%m/%Y"))
# Vs convertissez ts en timestamp mais en réalité vs n'avez pas besoin ; Pandas s'en occupe ! 
pd.to_datetime('1/1/1999')
ts = pd.to_datetime('1/1/1999')
ts

**Q : Extraire les observations supérieures ou égales à 1/1/1999**

In [ ]:
df_date[df_date.time >= '1/1/1999']#Faux
df_date.loc[df_date.time >= ts, : ]

**Q : Trouvez la date la plus récente ?**

In [ ]:
time_max = df_date.time.max()
time_max

**Q : Trouvez la date la moins récente ?**

In [ ]:
time_min = df_date.time.min()
time_min

**Q : Calculer la durée résultante ?** Notez le type de la var 'duration'.

In [ ]:
duration = time_max - time_min
duration

**Q : Transformer ce dernier résultat en nbre de jours ?**

In [ ]:
duration.days

**Q : Tracer le graph de l'évolution de nbre de report par an**

In [ ]:
date.year.hist()

In [ ]:
%matplotlib inline
annee_occ = annee.value_counts()
import matplotlib.pyplot as plt
plt.plot(annee_occ,"g^")
plt.axis([1930, 2000, 1, 3000])
plt.xlabel('année')
plt.ylabel('nombre de report')
plt.show()

# Optionel mais recommandé

Supposons que le format pd.datetime n'existe pas ! Pr avancer sur l'analyse (date la plus récente, moins récente, durée,...), essayons d'avoir recours aux astuces suivantes :

## Q : Extraire l'heure, les minutes, l'année, le mois, le jour

**Q : Essayons d'extraire l'heure ?** En d'autres termes, "6/1/1930 22:00" => 22 ; Indice : slice

In [ ]:
df.Time.str.slice(-5, -3)

**Q : Essayons d'extraire les minutes ?** En d'autres termes, "6/1/1930 22:00" => 00

**Q : Essayons d'extraire l'année ?**  En d'autres termes, "6/1/1930 22:00" => 1930.

In [ ]:
#1è façon de le faire : 
for x in df_date.time[:]:
    if (x[-10]=='/'):
        print(x[-9:-5])
    else:
        print(x[-10:-6])

In [ ]:
#2è façon de le faire (plus longue) : 
years = []

for year in df_date.time[:]:
    if '/' in year[3]:
        years.append(year[4:8])
    elif '/' in year[4]:
        years.append(year[5:9])
    elif '/' in year[5]:
        years.append(year[6:10])
    else :
        years.append(year[7:11])
        
df_date['years'] = years

**Q : Essayons d'extraire le mois ? En d'autres termes, "6/1/1930 22:00" => 1 (janvier)**  
Rq : Ce n'est pas la même manip pr "6/30/1930 20:00" (2è obs)

**Q : Essayons d'extraire le jour ?** En d'autres termes, "6/1/1930 22:00" => 6

**Q : Construisez 1nouvelle var "year2" où vs stockerez les années "slicées"** (de même pr mois : "month2", jour : "day2", heure : "hour2", minute : "minutes2")

## Comparer la col construite manuellement et la col en datetime

**L'idée est de comparer les deux résultats (à l'aide pd.to_datetime et la méthode manuelle). Si vs êtes bon, vs devez avoir les mêmes réultats : **

## Date la plus récente

**Q : Triez les données ds un ordre chronologique croissant (et inversement) en se basant sur les vars year2, month2, day2, hour2, minutes2.   
Q : Quelle est la date la plus récente (moins récente) ?**

## Delta time

**Q : Calculer la durée couverte par les observations ?**